<aside class="imuchallenge-platform-sidebar" aria-label="IMU Challenge platform navigation">
  <a class="imuchallenge-platform-sidebar-title" href="{{ site.baseurl }}/imuchallenge/platforms/">Platforms</a>
  <nav class="imuchallenge-platform-links">
    <a href="{{ site.baseurl }}/imuchallenge/platforms/car/" class="{% if page.url == '/imuchallenge/platforms/car/' %}is-active{% endif %}">
      <span>Car</span>
      <small>Wheeled vehicle motion</small>
    </a>
    <a href="{{ site.baseurl }}/imuchallenge/platforms/drone/" class="{% if page.url == '/imuchallenge/platforms/drone/' %}is-active{% endif %}">
      <span>Drone</span>
      <small>Aerial dynamics</small>
    </a>
    <a href="{{ site.baseurl }}/imuchallenge/platforms/quadruped/" class="{% if page.url == '/imuchallenge/platforms/quadruped/' %}is-active{% endif %}">
      <span>Quadruped</span>
      <small>Legged robot trajectories</small>
    </a>
    <a href="{{ site.baseurl }}/imuchallenge/platforms/handheld/" class="{% if page.url == '/imuchallenge/platforms/handheld/' %}is-active{% endif %}">
      <span>Handheld</span>
      <small>Human-carried IMUs</small>
    </a>
  </nav>
</aside>
